/*CSS指的是层叠样式*/


/*优先级*/
/*内联>内部样式表>外部样式表>浏览器缺省*/


/*语法*/
/*选择器 {属性: 值; 属性: 值;}*/
/*属性值和单位之间不要留空格*/
h1 {color: blue; font-size: 12px;}
h2 {color: #ff0000; font-size: 12px;}
h3 {color: rgb(255, 0, 0); font-size: 12px;}


/*有 id的属性*/
#idvalue {text-align: center; color: red;}


/*有 class的属性*/
/*class='center'的属性*/
.center {text-align: center;}

/*class='center'的p节点*/
p.center {text-align: center;}


