/*背景颜色*/
body {background-color: red;}
body {background-color: #ff0000;}
body {background-color: rgb(255, 0, 0);}


/*背景图片*/
/*图片水平和垂直方向平铺*/
body {background-image: url('img.jpg');}
/*图片水平方向平铺*/
body {background-image: url('img.jpg'); background-repeat: repeat-x;}
/*不平铺*/
body {background-image: url('img.jpg'); background-repeat: no-repeat;}
/*图片的位置*/
/*可选center、top、bottom、right、left*/
body {background-image: url('img.jpg'); background-repeat: no-repeat; background-attachment: fixed;background-position: right top;}
body {background-image: url('img.jpg'); background-repeat: no-repeat; background-position: 50% 50%;}
body {background-image: url('img.jpg'); background-repeat: no-repeat; background-position: 100px 200px;}


/*简写*/
/*属性顺序是background-color, background-image, backgroound-repeat, background-attachment, background-position*/
/*background-attachment是否固定或者随着其余部分滚动*/
body {background: #ff0000 url('img.jpg') no-repeat center top}


