

/*CSS表格边框，th和td有属于自己独立的边框，所以下面的例子有两个边框*/
table, th, td {border: 1px solid black;}


/*如果想要有一个边框*/
table {border-collapse: collapse;}
table, th, td {border: 1px solid black;}


/*表格设置宽度和高度*/
table {width: 100%;}
th {height: 50px;}


/*文字对齐,水平对齐和垂直对齐*/
td {height: 50px; text-align: right; vertical-align: bottom;}


/*内容和表格之间的距离*/
td {padding: 15px;}


/*表格颜色*/
table, th, td {border: 1px solid green;}
th {background-color: green; color: white;}


/*表格标题的位置*/
caption {caption-side: bottom;}

