
/*边框样式*/
p {border-style: none;}
/*可选项*/
/*none：无边框*/
/*dashed：虚线框*/
/*solid：实线*/
/*double：两个边界，两个边界的宽度和border-width相同*/
/*groove：3D沟槽边界*/
/*ridge：3D脊边界*/
/*inset：3D嵌入边框*/
/*outset：3D突出边框*/


/*边框宽度*/
p.one {border-style: solid; border-width: 2px;}
p.two {border-style: solid; border-width: 0.2em;}
/*可选值有thin，medium，thick*/
p.three {border-style: solid; border-width: medium;}


/*边框颜色，使用border-color前必须定义border-style*/
p {border-style: solid; border-color: #ff0000;}
p {border-style: dashed;border-right-color: #00ff00;}
/*透明边框*/
p {border-width: 5px; border-style: solid; border-color: transparent;}


/*四个边框单独设置*/
p {border-top-style: dotted; border-left-style: solid; border-right-style: dotted; border-bottom-style: solid;}


/*简写顺序应该是宽度，样式，颜色*/



/*轮廓是边框的外围*/
p {outline-width: 2px; outline-style: dashed; outline-color: red;}