
/*有四种定位方法*/


/*Static*/
/*HTML的默认值，没有定位，元素出现在正常的流中*/


/*Fixed*/
/*元素的位置相对于浏览器是固定的位置，及时窗口滚动，元素也不会移动*/
p {position: fixed; top: 5px; right: 3px;}
/*Fixed定位的元素位置与文档流无关，因此不占据空间*/


/*relative定位*/
/*是相对于正常位置的定位*/
p {position: relative; left: 20px;}
/*常作为绝对定位元素的容器快*/


/*Absolute定位*/
/*绝对定位的元素位置相对于最近的父元素，如果没有已定位的父元素，则相对于html*/
/*absolute定位使元素的位置与文档流无关，因此不占据空间*/
/*absolute定位的元素和其他元素重叠，用z-index属性指定一个元素的堆叠顺序，数字大的放在前面*/
h1 {position: absolute; left: 100px; top:150px;}